@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans.ttf');
}

body, html {
	margin: 0 auto;
	padding: 0;
	font-family: "Open Sans";
	max-width: 1907px; 
	min-width: 1007px;
}

/*---------------------------- header ----------------------------*/

#headBlock {
	width: 100%;
	height: 60px;
	max-width: 1907px; 
	min-width: 1007px;
	position: fixed;
	background: black;
}

#logo {
	width: 4%;
	height: 80%;
	float: left;
	margin: 0.3% 2%;
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
	background-position: center;
}

#menu {
	height: 100%;
	line-height: 350%;
	float: right;
	margin: 0 2%;
}
#menu a{
	color: #fff;
	padding: 3.9% 15px;
	text-decoration: none;
}
#menu a:hover {
	color: #000;
	background: #fff;
}
#menu a:active {
	background: #f1f1f1;
}

/*---------------------------- firstBlock ----------------------------*/

#firstBlock {
	width: 100%;
	height: 800px;
	display: flex;
	align-items: center;
	background: url('../images/img1.jpg') no-repeat;
	background-position: center;
}

#firstBlockCenter {
	width: 30%;
	height: auto;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
	background-size: cover;
}
.firstBlockCenterText{
	text-align: center;
	color: #feb322;
	font-size: 60px;
	padding: 2% 0;
	margin: 2%;
}
.moon{
	text-align: center;
	float: left;
	font-weight: none;
	font-size: 20px;
	color: #000;
	padding: 0 6%;
	margin: 4% 0;
}
.firstBlockCenterButton{
	color: #fff;
	background: #feb322;
	font-size: 25px;
	float: left;
	text-decoration: none;
	border: 1px solid #feb322;
	padding: 3% 4%;
	margin: 3% 30%;
}
#firstBlockCenter a:hover{
	color: #fff;
	border: 1px solid #d4961e;
	background: #feb322;
}
#firstBlockCenter a:active{
	color: #fff;
	border: 1px solid #d4961e;
	background: #d4961e;
}

/*---------------------------- secondBlock ----------------------------*/

#secondBlock {
	width: 100%;
	height: 60%;
}

#underBlock {
	width: 100%;
	margin: 0 12%;
}

#block {
	width: 15%;
	height: 60%;
	margin: 5% 2%;
	float: left;
}
#block img {
	width: 50%;
	height: auto;
	margin: 10% 25%;
}
#block p {
	text-align: center;
	padding: 5% 0;
}

.spanText {
	color: #feb322;
	font-weight: bold;
}

/*---------------------------- thirdBlock ----------------------------*/

#thirdBlock {
	width: 100%;
	height: 800px;
	background: url('../images/img2.jpg');	
}

#thirdBlockText {
	width: 25%;
	margin-top: 6%;
	margin-left: 3%;
	float: left;
}
#thirdBlockText h2{
	font-size: 40px;
	font-weight: bold;
	text-align: right;
	color: #feb322;
}
#thirdBlockText p{
	text-align: right;
	color: #fff;
}

#video {
	width: 67%; 
	float: right;
	margin: 2% 3% 2% 0;
}

/*---------------------------- fourthBlock ----------------------------*/

#fourthBlock {
	width: 100%;
	height: 600px;
}

#fourthBlockText {
	width: 40%;
	height: auto;
	float: right;
	margin: 3% 10% 10% 0;
}

#fourthBlockText h2{
	color: #feb322;
	font-size: 40px;
}

#fourthBlockText p{
	text-align: left;
}

#fourthBlockImg{
	width: 40%;
	height: 55%;
	float: left;
	margin: 5% 0 5% 10%;
	background: url('../images/graf.png') no-repeat;
	background-size: contain;
}

/*---------------------------- fifthBlock ----------------------------*/

#fifthBlock {
	width: 100%;
	height: 800px;
	background: url('../images/img4.jpg');
}

#fifthBlock h2{
	text-align: center;
	font-size: 40px;
	color: #feb322;
	padding: 10% 0 2% 0;
}
#fifthBlock p{
	width: 30%;
	padding: 2% 0 0 35%;
	text-shadow: 0px 0px 2px #000;
 	text-align: center;
	color: #fff;
}

#register input{
	width: 30%;
	height: 11%;
	color: #000;
	font-size: 30px;
	margin-left: 30%;
	padding: 0 2%; 
	border: 3px solid #feb322;
}

#register a{
	text-decoration: none;
	color: #feb322;
	border: 3px solid #feb322;
	background: url('../images/img6.jpg');
	font-size: 30px;
	font-weight: bold;
	padding: 1% 3%;
}

#register a:active{
	color: #fff;
	border: 3px solid #fff;
}

/*---------------------------- footerBlock ----------------------------*/

#footerBlock {
	width: 100%;
	height: 200px;
	background: url('../images/img5.jpg');
}

#footerBlocImage {
	margin: 0 19%;
	width: 60%;
	height: 60%;
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
	background-position: center;
}